{%- if include.tag -%}
  {%- assign posts = site.posts | where_exp: 'post', 'post.tags contains page.tag' %}
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}
{%- if posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in posts -%}
      {%- assign comments_subfolder = post.url | slugify -%}
      {%- assign comment_count = site.data.comments[comments_subfolder] | default: [] | size -%}
      <li style="background-image: url('{{ post.image | default: "/assets/images/default-post-image.png" }}');">
        <a href="{{ post.url | relative_url }}">
          <div class="post-list-meta">
            <h3>{{ post.title }}</h3>
            <time datetime="{{ post.date }}">{{ post.date | date: '%d.%m.%Y' }}</time>
            {%- if comment_count > 0 -%}
              , {{ comment_count }}&nbsp;
              {%- if comment_count == 1 -%}
                Kommentar
              {%- else -%}
                Kommentare
              {%- endif -%}
            {%- endif -%}
          </div>
        </a>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
